<!-- Footer -->
<footer class="section2">

    <div class="container">
        
        <div class="row text-center d-flex justify-content-center pt-5 mb-3">

            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase fw-bold">
                    <a class="nav-link a" href="products">Health Plans</a>
                </h6>
            </div>
          
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase pb-2 fw-bold">
                    <a class="nav-link a" href="contactUs">Talk to a Vet</a>
                </h6>
            </div>
       
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase fw-bold">
                    <a class="nav-link a" href="contactUs">Contact Us</a>
                </h6>
            </div>

        </div>

        <div class="row pb-3">

            <div class="col-md-12">

                <div class="row text-center d-flex justify-content-center mb-3">

                    <!-- Facebook -->
                <div class="col-md-2 mb-3">
                   <a class="navbar-brand" href="http://facebook.com" target="_blank" >
                    <img src="/images/footer/facebook.png" class=" img-fluid media-object" width="40px" height="40px" alt="facebook icon">
                   </a>
               </div> 
                    <!-- Youtube -->
                <div class="col-md-2 mb-3">
                    <a class="navbar-brand" href="http://youtube.com" target="_blank" >
                    <img src="/images/footer/youtube.png" class=" img-fluid media-object" width="40px" height="40px" alt="youtube icon">
                   </a>
                </div> 
                    <!-- Whatsapp -->
                <div class="col-md-2 mb-3">
                    <a class="navbar-brand" href="http://whatsapp.com" target="_blank" >
                    <img src="/images/footer/whatsapp.png" class=" img-fluid media-object" width="40px" height="40px" alt="whatsapp icon">
                   </a>
                </div> 
                    <!--Instagram-->
                <div class="col-md-2 mb-3">
                    <a class="navbar-brand" href="http://instagram.com" target="_blank" >
                    <img src="/images/footer/instagram.png" class=" img-fluid media-object" width="40px" height="40px" alt="instagram icon">
                   </a>
                </div>

                </div>

            </div>
         
        </div>
 
    </div>
    
    <!-- Copyright -->
    <div class="footer-copyright text-center "> <p>PetAmbulance© 2022 Copyright</p> </div>

       <!-- by DC -->
    <div class="footer-copyright text-center"><a class="navbar-brand a fw-bold" href="/images/cv/dafne-caneda-resume.pdf">by Dafne Caneda 2022</a></div>
    
    {{!-- footer img --}}
<img src="/images/footer/dogfooter.webp" width="500px" height="500px" class="img-fluid mx-auto d-block pt-3" alt="cat"> 

</footer>
<!-- Footer -->