<header class="pt-5">

<div class="container col-xxl-8 px-4 pt-5 ">
    
    <div class="row text-left align-items-left g-5  media">
     
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Is late at night and your Pet gives you this look.</h1>
        <h5 class="lead mb-4">Is vomiting and all local Vets are closed... </h5> 
 <h5 class="fw-bold mb-4 lh-1 text-primary" >  Don't panick ! Get immediate care with PetAmbulance.</h5>
       
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="contactUs"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Talk to a Vet</button></a>
        </div>
      
      </div>

      <div class=" col-lg-6 media-right">
       <img src="images/header/dog-header1.png" class="img-fluid media-object" width="900px" height="900px" alt="frenchbulldog" >
      </div>

    </div>

  </div>

</header> 


