 {{#unless user}}
 <div class=" navtop text-center">
    <a href="products" class="text-white text-decoration-none"> <p>Suscribe to our Health Plans and get a 20% discount the first 6 months!</p></a>
</div>
{{/unless}}

<nav class="navbar navbar-expand-lg navbar-light  " >

  <div class="container-fluid">
    

   <a class="navbar-brand" href="/"> <img src="/images/navbar/ambulance.png" width="50px" height="50px" alt="ambulance">  <a class="navbar-brand" href="/"> PetAmbulance</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="login/logout">Logout</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" aria-current="page" href="secret">Your Account</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" aria-current="page" href="products">Change Plan</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="login">Login</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" aria-current="page" href="signup">Sign Up</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" aria-current="page" href="products">Health Plans</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link active" href="contactUs">Talk to a Vet</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
      </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>

    </div>

  </div>

</nav>
