   <!-- START THE FEATURETTES -->


    <div class="row featurette mt-5">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-bold">Dr. Sammy Stuart <span class="text-muted">Specialized in birds.</span></h2>
        <p class="lead">Hi ! Let me introduce myself, I've been working on the field for 10 years now, started very young, birds where apation since i was young. I had seen alll sorts of cases, from rescued pigeons to exotic parrots. Dont hesitate to get a consultations for your special Pet.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img rounded bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="images/birdvet.png" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"/>

      </div>
    </div>



    <div class="row featurette mt-5">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-bold">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img rounded bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="images/birdvet.png" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"/>

      </div>
    </div>

   

    <div class="row featurette mt-5">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-bold">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img rounded bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="images/birdvet.png" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"/>

      </div>
    </div>



    <!-- /END THE FEATURETTES -->

 

