{{>navbar}}
{{>header}}

 <main>

 <section class="section1"> {{!-- buttons and illustrations --}} 
     
     <article class="container">

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="feature col mt-5">
        <div class="icon-square  text-dark flex-shrink-0 me-3">
          <img class="bi" width="250rem" height="250rem" src="images/section2/booking.png"/>
        </div>
        <h2 class="text-primary fw-bold">Easy Booking !</h2>
        <p>By suscribing to our Heatlh Plans, you get acces to unlimited Vet appointments, you can schedule them in advance, and keep a record of your pet Clinic Records.</p>
        <a href="contactUs"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Booking</button></a>
      </div>

      <div class="feature col mt-5">
        <div class="icon-square  text-dark flex-shrink-0 me-3">
          <img class="bi" width="250rem" height="250rem" src="images/section2/talktoavet.png"/>
        </div>
        <h2 class="text-primary fw-bold">Talk to a Vet</h2>
        <p>If you are having an emergency or need to make a quick consultation, we provide 24 hs online service to our Suscribed Pet Parents.</p>
         <a href="contactUs"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Talk to a Vet</button></a>
      </div>

      <div class="feature col mt-5">
        <div class="feature-icon mt-5">
          <div class="icon-square  text-dark flex-shrink-0 me-3 mt-5">
          <img class="bi " width="280rem" height="220rem" src="images/section2/petparent1.png"/>
        </div>
        </div>
        <h2 class="fw-bold text-primary">Health Plans</h2>
        <p>We offer a variety of Health Plans so you can choose the one that will suit you and your furry friend needs.</p>
        <a href="products"> <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Health Plans</button></a>
      </div>
    
    </div>

     </article>

</section>

{{>carousel}}

<section class="section3"> {{!-- list--}}
  
<article class="container">

<div class="container col-xxl-8 px-4 py-5">
    
    <div class="row text-right align-items-right g-5 py-5 media-right">
     
      <div class="col-lg-6 order-md-2">
        <h2 class="display-5 fw-bold lh-1 mb-3 text-primary">Why choose PetAmbulance?</h2>
        <h5 class="lead mb-4">Confident pet parenthood starts here. </h5> 
        <h5 class="lead mb-4">Get ongoing peace of mind about every aspect of your pet's care routine and progress. No question – or pet – is too big or small.</h5>
        <h5 class="lead mb-4">We are the biggest chain of Vet Clinics around the country we provide service and care in all states, and we are proud to work with the best Team of Vet professionals.</h5>
      </div>

      <div class="mt-5 col-lg-6 media-left">
       <img src="images/list/couple.png" class="img-fluid media-object" width="400px" height="400px" alt="girlsendingmessages" >
      </div>

    </div>

  </div>

<div class="list-group">

  <div class="list-group-item list-group-item-primary d-flex gap-3 py-3" aria-current="true">
    <img src="images/list/save.png" alt="twbs" width="50rem" height="50rem" class="flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0 fw-bold">Affordable</h6>
        <p class="mb-0 opacity-75">Save thousands and avoid headaches on unnecessary emergency off-hour visits. No signup fee. No hidden costs.</p>
      </div>
    </div>


  </div>

  <div class="list-group-item list-group-item-primary d-flex gap-3 py-3" aria-current="true">
     <img src="images/list/dogfood.png" alt="twbs" width="50rem" height="50rem" class="flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0 fw-bold">LifeStyle</h6>
        <p class="mb-0 opacity-75">Personalized diet, suplements and nutrition programs, combined with exercises routines adjusted to your furry companions needs and specifications.</p>
      </div>
    </div>
  </div>
  
  <div class="list-group-item list-group-item-primary d-flex gap-3 py-3" aria-current="true">
    <img src="images/list/contact.png" alt="twbs" width="50rem" height="50rem" class="flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0 fw-bold">Unlimited 24/7</h6>
        <p class="mb-0 opacity-75">1:1 video chats with a provider who sticks by you. Join a call with one of our always-there vets in less than a minute. No appointment needed.</p>
      </div>
    </div>
  </div>

   <div class="list-group-item list-group-item-primary d-flex gap-3 py-3" aria-current="true">
    <img src="images/list/petambulance.png" alt="twbs" width="50rem" height="50rem" class="flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0 fw-bold">Ambulance Service</h6>
        <p class="mb-0 opacity-75">Anywhere you are our team will get help to your furry friend. Wheter your pet has anxiety leaving the house or you are having an emergency in the park, we come to you !</p>
      </div>
    </div>
  </div>

</div>

<div class="d-grid gap-2 justify-content-sm-cente m-5 col-lg-6 mx-auto">
<a href="products" class="btn btn-primary btn-lg px-4 gap-3">Check our Health Plans !</a>
</div>


</article>

</section>

{{!-- <section class="section4 mt-5"> 

    <article class="container mt-5">

<div class="container col-xxl-8 px-4 py-5">
    
    <div class="row text-left align-items-left g-5 py-5 media">
     
      <div class="col-lg-6">
        <h2 class="display-5 fw-bold lh-1 mb-3 text-primary" >Get to know our Team</h2>
        <h5 class="lead mb-4">We work with top experienced proffesionals. </h5> 
        <h5 class="lead mb-4">Each of them specify in different fields, to make sure we can cover every Pets needs. </h5>
      </div>

      <div class=" col-lg-6 media-right">
       <img src="images/team/team.png" class="img-fluid media-object" width="400px" height="400px" alt="team">
      </div>

    </div>

  </div>

  <div class="d-grid gap-2 justify-content-sm-cente mt-5 col-lg-6 mx-auto">
<button type="button"  class="btn btn-primary btn-lg px-4 gap-3">Know our Vet Team !</button>
</div>

     </article>

</section> --}}

 </main>


{{>footer}}