{{>navbar}}

<div class="container py-5 px-5 text-center">
  <h2 class="display-5 fw-bold lh-1 text-primary text-center" > Welcome back {{user}} ! </h2>
<h5 class="pt-3">Here you can manage your Account Details, Pet Info. Booking, and change health plans.</h5>

<img src="/images/secret/petparent2.png" width="400px" height="400px" class="pt-5 img-fluid" alt="personwalkingdogs">
  
<div class="py-5  col-md-12 ">
  <a href="contactUs">  <button class="btn mt-5 btn-lg btn-primary">Contact Us</button></a>
  <a href="contactUs">  <button class="btn mt-5 btn-lg btn-primary">Talk to a Vet</button></a>
  <a href="*">  <button class="btn mt-5 btn-lg btn-primary">Book Appointment</button></a>
</div>

  <div class="container-fluid">

  <div class="row card-group">
 
    <div class="card-body text-center py-5 m-4 col-12 col-md-4 border rounded rounded-3 border-primary  border-3 ">
      
          
        <h2 class="card-title fw-bold text-primary">Your Pets</h2>
        <p class="card-text pt-3 fw-bold">Here you can Check all your Pets registered to your account, and the last Update the Vet left in our files. Also you can erase or modify as needed.</p>
        
   <a href="pets" > <button class="btn btn-primary"> Your Pets</button></a>

    </div>


      <div class="card-body text-center py-5 m-4 col-12 col-md-4 border rounded rounded-3 border-primary  border-3">
      
          
        <h2 class="card-title  fw-bold text-primary">Settings</h2>
        <p class="card-text pt-3 fw-bold">In this section you can manage your personal information, your addres, and important details.</p>
         <a href="*" > <button class="btn btn-primary"> Settings</button></a>

    </div>

  

</div>

</div>
</div>

{{>footer}}